<div class="header">
  <ul class="nav nav-tabs pull-right">
    <li class="active"><a ng-href="#">Dash</a></li>
    <li><a ng-href="#">Account</a></li>
    <li><a ng-href="#">Logout</a></li>
  </ul>
  <h3 class="text-muted"><img src="images/rummble_labs_logo.png" alt="RummbleLabs" style="height:40px"></h3>
</div>

<div class='row'>

<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a ng-href="#">Overview</a></li>
    <li><a ng-href="#">Visits</a></li>
    <li><a ng-href="#">Shares</a></li>
    <li><a ng-href="#">Conversions</a></li>
  </ul>
  <br>
  <p><a class="btn btn-lg btn-success" ng-href="#">Feedback!</a></p>
</div>

  <div class="jumbotron col-md-9">
    <p class="lead">
      Welcome to your dash {{ client }}
    </p>
    <canvas chart type="Line" options="options" data="chart" width="500" height="300"></canvas>
  </div>

</div>

<div class="footer">
  <p>♥ from the Rummble Labs team</p>
</div>
